@import 'variables';

.ReactModal__Content {
  width: 100% !important;
  height: 100% !important;

  @media screen and (max-width: 799px) {
    border: none !important;
    border-radius: 0 !important;
  }

  @media screen and (min-width: 800px) {
    width: 600px !important;
    height: 400px !important;
    max-height: 80% !important;
  }
}
